.cartItem{
    display: flex;
    justify-content: space-between;
    border-bottom: maroon solid 1px;
    margin: 20px 0px;
}

.box{
    border-color: maroon;
    border-style: solid;
    text-align: center;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    border-width: 1px;
    row-gap: 5px;
    background-color: white;
    font-weight: bold;
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
}

.details{
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.name{
    font-weight: bold;
}

.price{
    color: maroon;
    font-size: 14px;
    font-weight: bold;
}

.amount{
    border-color: rgb(184, 181, 181);
    border-style: solid;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    /* width: 25px;
    height: 25px; */
    border-width: 1px;
    row-gap: 5px;
    background-color: white;
    font-weight: bold;
    font-size: 14px;
}