.Button{
    /* width: 70px; */
    display: flex;
    background-color: rgb(24, 2, 2);
    color: white;
    border-radius: 8px;
    font-weight: 600;
    padding: 7px 10px;
    border-color: white;
    border: 1px solid white;
    margin-right: 10px;
}

.cartIcon{
    width: 15px;
    height: 15px;
    padding: 0 5px;
}

.yourCart{
    padding: 0 5px;
}

.cartCount{
    padding: 0 7px;
    background-color: maroon;
    border-radius: 10px;
}

.bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }