.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: rgb(100, 13, 13);
}



.header h1{
    color: white;
}

.main-image{
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-bottom-right-radius: 70%;
}

.main-image img{
    object-fit: fill;
    width: 100%;
}