.header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(100, 13, 13);
    z-index: 21;
}



.header h1{
    margin-left: 10px;
    color: white;
}

.main-image{
    height: 250px;
    width: 100%;
    overflow: hidden;
    border-bottom-right-radius: 70%;
}

.main-image img{
    object-fit: fill;
    width: 100%;
}