.Card{
    background-color: white;
    color: black;
    /* padding: 10px; */
    box-shadow: 1px 1px 1px 1px;
    min-width: 100px;
    min-height: 100px;
    /* margin: 10px; */
    /* max-width: 200px; */
    border-radius: 5px;
    border-color: maroon;
}