.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal{
    position: fixed;
    width: 100%;
    z-index: 30;
}

.content{
    position: fixed;
    border-radius: 5px;
    /* width: 550px; */
    min-width: 500px;
    margin: auto;
    top: 20vh;
    left: 50%;
transform: translateX(-50%);
    background-color: white;
    padding: 10px;
}